.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.logo{
    width: 70px;

}
.nav-items{
    padding: 0px 10px;
}
.nav-items>ul{
    font-size: 20px;
    display: flex;
    list-style-type: none;
}

.nav-items>ul>li{
    padding:5px;
    margin: 5px;
}

.restocard{
    width: 220px;
    height: 400px;
    padding:10px;
    margin: 5px;
}
.restocard:hover{
    border: 1px solid black;
}

.resto-logo{
    height: 50%;
    width: 100%;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
}
.filter{ 
    margin: 5px;
    display: flex;
}
.login{
    padding: 0 20px;
    cursor: pointer;
    border-radius: 20px;
}
.search{
    padding: 5px;
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card{
    margin:10px;
    height:350px;
    width: 230px;
    background-color: rgb(217, 216, 216);
}