.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.logo{
    width: 70px;

}
.nav-items{
    padding: 0px 10px;
}
.nav-items>ul{
    font-size: 20px;
    display: flex;
    list-style-type: none;
}

.nav-items>ul>li{
    padding:5px;
    margin: 5px;
}

.restocard{
    width: 200px;
    height: 400px;
    padding:10px;
    margin: 5px;
}
.restocard:hover{
    border: 1px solid black;
}
.search{
    padding: 10px;
    
}
.resto-logo{
    height: 50%;
    width: 100%;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
}
.filter{
    margin: 10px;
}